<h2>Send new message</h2>
<form method="POST" action="/new">
    <label for="authorNameInput">Author Name: 
        <input id="authorNameInput" name="authorNameInput"/>
    </label>
    <label for="messageInput">Message: 
        <input id="messageInput" name="messageInput"/>
    </label>
    <button>Submit</button>
</form>
<a href="/">Main menu</a>
